/* Welcome ------------------------ */

.about-button {
  display: block;
  margin: 0 auto;
  padding: .4em 1.2em;
  font: inherit;
  font-size: 1.6em;
  color: inherit;
  border: 2px solid;
  border-radius: 4px;
  background-color: transparent;
}

.about-button:focus {
  outline: none;
  border-color: hsl(0, 0%, 88%);
}

.rainbow-button-wrapper {
  --rainbow-button-width: 210px;
  --rainbow-button-height: 50px;
  --rainbow-button-width-inner: 200px;
  --rainbow-button-height-inner: 44px;
  --rainbow-color-1: hsl(116, 30%, 36%);
  --rainbow-color-2: hsl(194, 60%, 36%);
  --rainbow-color-3: hsl(222, 53%, 50%);
  --rainbow-color-4: hsl(285, 47%, 46%);
  --rainbow-color-5: hsl(330, 65%, 48%);
  --rainbow-color-6: hsl(32, 79%, 49%);
  --rainbow-color-7: hsl(53, 84%, 50%);

  display: inline-block;
  width: var(--rainbow-button-width);
  height: var(--rainbow-button-height);
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.rainbow-button-wrapper:before {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 800px;
  height: var(--rainbow-button-height);
  background: #CCC;
  background: linear-gradient(127deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 50%, rgba(238, 174, 202, 1) 100%);
  /*background: linear-gradient(to right, var(--rainbow-color-1) 0%, var(--rainbow-color-2) 14%, var(--rainbow-color-3) 28%, var(--rainbow-color-4) 42%, var(--rainbow-color-5) 56%, var(--rainbow-color-6) 70%, var(--rainbow-color-7) 84%, var(--rainbow-color-1) 100%);*/
  background-position: -200px 0;
  transition: all 0.5s;
  content: "";
}

.rainbow-button-wrapper button {
  display: block;
  width: var(--rainbow-button-width-inner);
  height: var(--rainbow-button-height-inner);
  position: absolute;
  z-index: 3;
  top: 3px;
  left: 3px;
  border: none;
  color: white;
  font-size: 1.3rem;
}

.rainbow-button-wrapper:hover:before {
  background-position: 200px 0;
}